body {
}

div {
            border: 1px solid black;
}

#slide-show {
            width: 1200px;
            height: 900px;
            text-align: center;
}

#frame {
            margin: 0 auto;
            margin-top: 10px;
            width: 1150px;
            height: 850px;
}

